body{
    display: flex;
    flex-flow: row wrap;
    align-items: space-around;
    justify-content: space-around;
}
.box {
    height: 545px;
    width: 500px;
    background-color: #fce5ff;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: space-around;
    justify-content: space-around;
   }
button {
    font-family: 'Antic', sans-serif;
    font-weight: bold;
    padding: 15px;
    height: 50px;
    width: 75px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #fce0f3;
    justify-content: space-around;
}
.operator{
    background-color: #f7b880;
}
/*row1*/
#row1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
#clear{
    background-color: #dbf9f8;
    font-weight: bold;
    margin: 5px;
}
textarea{
    background-color: darkgray;
    border: 1px solid gray;
    border-radius: 3px;
    font-family: antic arial;
    width: 160px;
    height: 45px;
    margin: 5px;
}
/**row2**?????????????? why is this seperate?????????????????/*/
.row:nth-of-type(2)> :first-child {
    height:50px;
    width:75px;
    justify-content: space-around;
}
